/*body{
padding-top: 100px;Mettre un espace entre le bar inferieur du menu et les autres elements
}*/

.inline-block{ 
display: inline-block; /* Mettre sur la meme ligne les boutons*/
						/* Cette classe est utlisé dans le formulaire de la page show*/
}

.help-block{
/* la classe qui gère la couleur des messages*/
color:blue;
font-style:italic;
font-weight: normal;
}

.btn-primary {
    margin-right: 10px;
}

h1 {
 border:1px dotted black;
 font-weight: normal;
 font-size:1.3em;
 }

/* xx-small: minuscule ;

x-small: très petit ;

small: petit ;

medium: moyen ;

large: grand ;

x-large: très grand ;

xx-large: euh… gigantesque.*/